@import "variables";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,800&display=swap");

@mixin estilos-card(
  $fuente: $fuente-primaria,
  $color-fondo: $color-fondo,
  $color-container: $color-container,
  $color-talla-activo: $color-talla-activo,
  $color-talla-hover: $color-talla-hover,
  $color-texto: $color-texto,
  $color-texto-secundario: $color-texto-secundario,
  $color-descripcion: $color-descripcion,
  $color-boton: $color-boton,
  $color-boton-texto: $color-boton-texto,
  $tamano-titulo: 2em,
  $tamano-subtitulo: 1em,
  $tamano-texto: 1em,
  $tamano-boton: 1em
) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - #{$tamaño-padding-header});
    font-family: $fuente;
    background: $color-fondo;
    color: $color-fondo;
  }

  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    margin-top: 20px;
    background: $color-container;
    padding: 20px;

    .imgBx {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      background: darken($color-container, 25%);
      transition: 0.3s linear;

      &:before {
        content: "Nike";
        position: absolute;
        top: 30px;
        left: 24px;
        color: $color-fondo;
        opacity: 0.2;
        font-size: 8em;
        font-weight: 800;
      }

      img {
        position: relative;
        width: 700px;
        transform: rotate(-30deg);
        left: -50px;
        transition: 0.9s linear;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      box-sizing: border-box;
      padding: 10px;

      h2 {
        margin: 0;
        padding: 0;
        font-size: $tamano-titulo;
        line-height: 1em;
        color: $color-texto;

        span {
          font-size: $tamano-subtitulo;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: $color-texto-secundario;
        }
      }

      p {
        max-width: 85%;
        margin-left: 15%;
        color: $color-descripcion;
        font-size: $tamano-texto;
        margin-bottom: 36px;
      }

      h3 {
        margin: 0;
        padding: 0;
        font-size: 2.5em;
        color: $color-texto-secundario;
        float: left;
      }

      .sizes {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        flex-wrap: wrap;
        margin-left: 50px;

        button {
          width: 50px;
          height: 50px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: lighten($color-talla-activo, 50%);
          color: $color-talla-activo;
          font-size: 1em;
          border-radius: 8px;
          border: 2px solid transparent;
          cursor: pointer;
          transition: background 0.3s, color 0.3s, box-shadow 0.3s;
          font-weight: 600;

          &:hover {
            background-color: $color-talla-hover;
            color: $color-boton-texto;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
          }

          &.active {
            background-color: $color-talla-activo;
            color: $color-boton-texto;
            border: 2px solid darken($color-talla-activo, 15%);
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
            font-weight: bold;
          }
        }
      }

      button {
        background: $color-boton;
        color: $color-boton-texto;
        border: none;
        outline: none;
        padding: 15px 20px;
        margin-bottom: 20px;
        font-size: $tamano-boton;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 40px;
        float: right;
      }
    }
  }

  footer {
    position: fixed;
    right: 16px;
    bottom: 12px;

    a {
      color: $color-boton-texto;
      text-decoration: none;
      font-size: 12px;
    }
  }

  @media (max-width: 1080px) {
    .container {
      height: auto;

      .imgBx {
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;

        img {
          left: initial;
          max-width: 100%;
          transform: rotate(0deg);
        }
      }

      .details {
        width: 100% !important;
        height: auto;
        padding: 20px;

        p {
          margin-left: 0;
          max-width: 100%;
        }
      }
    }
  }
}
