$fuente-primaria: 'Poppins', sans-serif;

$color-fondo: #000;
$color-container: #ffffff;
$color-texto: #444;
$color-texto-secundario: #999;
$color-descripcion: #333;
$color-boton: #000;
$color-boton-texto: #fff;
$color-talla-activo: #333;
$color-talla-hover: #ccc;

$tamano-titulo: 2.4em;
$tamano-subtitulo: 0.4em;
$tamano-texto: 15px;
$tamano-boton: 16px;