@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: $color-fondo-principal;
    color: $color-texto;
    padding-top: 100px;
}

.main-header {
    background-color: $color-fondo-header;
    padding: $tamaño-padding-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    img {
        width: 180px;
    }
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 15px;

    li {
        display: inline-block;

        a {
            color: $color-texto;
            text-decoration: none;
            padding: 10px 15px;
            font-size: 1em;
            border-radius: 5px;
            font-family: "Oswald", sans-serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
        }
    }
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    width: $tamaño-ancho-input;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid $color-borde-input;
    outline: none;
    font-size: 1em;
    transition: width 0.4s ease;

    &:focus {
        width: $tamaño-ancho-input-focus;
    }
}

.search-btn {
    background-color: $color-boton-busqueda;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.2em;

    &:hover {
        background-color: $color-boton-busqueda-hover;
    }
}
