
$color-fondo-principal: #1c1c1c;
$color-fondo-header: #000;
$color-texto: #fff;
$color-boton-busqueda: #d33;
$color-boton-busqueda-hover: #b30000;

$tamaño-padding-header: 20px;
$tamaño-ancho-input: 200px;
$tamaño-ancho-input-focus: 300px;